{% extends "forward_home/layout.html" %}
{% block content %}
<section class="account_section_css", style="background-color:white;">
    <div class="container", style="background-color:white;">
        <div class="box">

        </div>
        <div class="box">
            <div class="card-body text-center">
                <img src="static/profile_pics/mario_square_273_273.svg"
                     class="rounded-circle"
                     width="150" 
                     height="150"
                     alt=""
                />
                <h3 class="card-title mb-3">Mario Blázquez</h3>
                <p class="card-text">  Mario works in energy economics with an
                    special focus on the design of electricity markets by using theoretical
                    models and simulations. He teaches the course Green Digitalization and App Development at HVL and NHH, where he connects green economy, digitalization, and app development. In the past, he also taught the courses Sustainable Energy at NHH, and Electricity Market Design for the Green Economy at NTNU.                                
                    In his research and teaching, he uses different programming languages to create apps to conduct
                    economic analysis in the fields of energy economics and sustainability.
                </br>
                </br>
                <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">Personal Web</a>
            </div>
        </div>
        <div class="box">

        </div>
    </div>
</section>

{% endblock %}