{% extends "forward_home/layout.html" %}
{% block content %}

  
  <!-- Introduction -->
  <section class="home_section_css", style="background-color:#343a40;">
    <div class="container", style="background-color:#343a40;">
        <div class="header">
              <div class="box", style="background-color:#343a40;">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div> 
                            {% endfor %}
                        {% endif %}
                    {% endwith %}               
                    <h1 class="text-center"><span class="text-warning"> Forward: </span> Connecting Education and Society</h1>
                    <p class="lead my-3">
                        Forward is an <b>educational platform</b> that aims to connect education and society making that interaction fluent and effective.
                    </p>
                    <p class="lead my-3">
                        To achieve that objective, Forward hosts different <b>courses</b> to facilitate the access to education by active learning. Forward also host thematic <b>platforms</b> where the users have access to dashboards that disclose useful data in different disciplines, and where the user have access to frontier research in those disciplines.
                    </p> 
                    </br>   
                                    
                    <div class="container_buttons_links_header">
                        <div class="btn">
                            <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Register</a>
                        </div>
                        <div class="btn">
                            <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Login</a>
                        </div>
                    </div> 
              </div>
              <div class="box", style="background-color:#343a40;">
                <img class="img-fluid w-100 rounded mx-auto d-block"
                    src="{{url_for('static', filename='figures/forward/forward_icon.svg')}}"
                    width="150" 
                     height="150"
                    alt=""/>
                
              </div>
          </div>
      </div>
    </div>
  </section>




{% endblock content %}