/*Container home header*/
/*color=dark*/
.home_section_css {
display: flex;
background: #343a40;
}

.home_section_css .container {
display: flex;
background: #343a40;
}

.home_section_css .container .header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
    /*color=dark*/
.home_section_css .container .header .box {
  flex: 1;
  background: #343a40;
  color: #fff;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}

.home_section_css .container .header .box:nth-of-type(1) {
  flex-grow:1;
  background: #343a40;
  color: #fff;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:left;
}

.home_section_css .container .header .box:nth-of-type(2) {
  flex-grow:1;
  background: #343a40;
  color: #fff;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}



/*Container buttons section header*/
.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap:wrap;
}

.container_buttons_links_header a:hover {
  color: #343a40;
}
/*color=dark*/
.container_buttons_links_header btn {
  width: 100px;
  height: 100px;
  background: #343a40;
  color: #fff;

  display: flex;
  justify-content:center;
  align-items:center;
}

/*Chat layout*/
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: black;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

/*container_gender_poster*/
.container_gender_poster {
  display: flex;
  background: #343a40;
  }
  
  .container_gender_poster .container_gender_poster {
  display: flex;
  background: #343a40;
  }

  .container_gender_poster .container_gender_poster .header {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .container_gender_poster .container_gender_poster .header .box_gender_poster {
    flex: 1;
    background-color: #428bca;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    text-align:center;
  }
  
  .container_gender_poster .container_gender_poster .header .box_gender_poster:nth-of-type(1) {
    flex-grow: 1;
    background-color: #f5f1bf;
  }
  
  .container_gender_poster .container_gender_poster .header .box_gender_poster:nth-of-type(2) {
    flex-grow: 1;
    background-color: #a0e3f2;
  }


/*container_gender_activities*/
.container_gender_activities {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #28a745;
}

.section_gender_activities .container_gender_activities {
  display: flex;
  background-color: #28a745;
  display: flex;
  justify-content: space-between;
}

.box_gender_activities {
  flex: 1;
  background-color: #428bca;
  color: white;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.box_gender_activities:nth-of-type(1) {
  flex-grow: 1;
  background-color: #f5f1bf;
}

.box_gender_activities:nth-of-type(2) {
  flex-grow: 1;
  background-color: #a0e3f2;
}

.box_gender_activities:nth-of-type(3) {
  flex-grow: 1;
  background-color: #8badd9;
}

@media(max-width:768px){
  .home_section_css .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
  .container_gender_poster {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .container_gender_activities {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

}

