{% extends "gender_platform/gender_platform_layout.html" %}
{% block content %}
<section class="chat_section_css">
  <div class="container">
      <div class="box">

      </div>
      <div class="box">
          <article class="media content-section">
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + chat.author.image_file) }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ chat.author.username }}</a>
                <small class="text-muted">{{ chat.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if chat.author == current_user %}
                    <div>
                      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('gender_platform_chats.update_chat', chat_id=chat.id)}}">Update</a>
                      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ url_for('gender_platform_chats.delete_chat', chat_id=chat.id)}}">Delete</a>
                    </div>
                {% endif %}
              </div>
              <h2><a class="article-title" href="#">{{ chat.title }}</a></h2>
              <p class="article-content" style="color: black">{{ chat.content }}</p>
            </div>
          </article>
      </div>
      <div class="box">
      ..
      </div>
  </div>
</section>


{% endblock content %}
